flujos/Encuesta de satisfacion (clientes).json
{
  "name": "Encuesta de satisfacion (clientes)",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "months",
              "triggerAtDayOfMonth": 28
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "af51aef0-a9f0-442c-931a-5ca3700998cd",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "url": "http://purasonrisa.example.com/api/pacientes/encuesta",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        208,
        0
      ],
      "id": "519602fa-0ccc-42b9-9dbc-796d1022a62b",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        448,
        0
      ],
      "id": "7840794f-519f-4abf-a8d3-4f2c5a73fdb9",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "amount": 10
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        656,
        -96
      ],
      "id": "b70994ba-2e73-4adf-beb2-f49a4dd34923",
      "name": "Wait",
      "webhookId": "23b97184-a427-4ae1-8d9b-a5ea27cfb670"
    },
    {
      "parameters": {
        "fromEmail": "admin@purasonrisa.test",
        "toEmail": "= {{ $json.email }}",
        "subject": "Encuesta de satisfacción",
        "html": "<!DOCTYPE html>\n<html lang=\"es\">\n<head>\n    <meta charset=\"UTF-8\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n    <title>Encuesta de Satisfacción</title>\n    <style>\n        * {\n            margin: 0;\n            padding: 0;\n            box-sizing: border-box;\n        }\n        body {\n            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;\n            min-height: 100vh;\n            background-color: #D3C7FF;\n            display: flex;\n            align-items: center;\n            justify-content: center;\n            padding: 20px;\n        }\n        .container {\n            width: 100%;\n            max-width: 700px;\n            background: white;\n            border-radius: 12px;\n            box-shadow: 0 10px 40px rgba(0, 0, 0, 0.2);\n            padding: 40px;\n        }\n        h1 {\n            text-align: center;\n            color: #cc0247;\n            margin-bottom: 10px;\n            font-size: 24px;\n        }\n        .subtitle {\n            text-align: center;\n            color: #666;\n            margin-bottom: 30px;\n            font-size: 14px;\n        }\n        .cta-button {\n            display: inline-block;\n            background: linear-gradient(135deg, #cc0247 0%, #a80237 100%);\n            color: white;\n            padding: 16px 45px;\n            text-decoration: none;\n            border-radius: 6px;\n            font-weight: 600;\n            margin-top: 20px;\n            font-size: 16px;\n            text-align: center;\n            width: 100%;\n            box-sizing: border-box;\n            transition: transform 0.2s, box-shadow 0.2s;\n        }\n        .cta-button:hover {\n            transform: translateY(-2px);\n            box-shadow: 0 6px 16px rgba(204, 2, 71, 0.3);\n        }\n        iframe {\n            width: 100%;\n            min-height: 2200px;\n            border: none;\n            border-radius: 8px;\n        }\n    </style>\n</head>\n<body>\n    <div class=\"container\">\n        <h1>¿Cómo fue tu experiencia?</h1>\n        <p class=\"subtitle\">Tu opinión nos ayuda a mejorar</p>\n        \n        <a href=\"https://docs.google.com/forms/d/e/1FAIpQLSdS65u1lH23CaCEtRLaA2M1fFeayW84nmfhqb1KFYM0byWL1w/viewform\" class=\"cta-button\" target=\"_blank\">Completar Encuesta Ahora</a>\n    </div>\n</body>\n</html>",
        "options": {}
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        864,
        -80
      ],
      "id": "18dddb5f-65cc-47c4-9105-813cb86aadf3",
      "name": "Send an Email",
      "webhookId": "26450e3f-4576-4da4-9ee9-f79742c53cf2",
      "credentials": {
        "smtp": {
          "id": "2R0lTGzMcTUB97gN",
          "name": "SMTP account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          },
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Send an Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "d57f7211-cd19-4e8b-9095-55f6291f9b93",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "1e0c96edf8cf8c99bfbe1b0ee2267fe68f7e8af2c7cd81b4c0e9f820285cb7be"
  },
  "id": "7LqYh4JExfwJXQIw",
  "tags": []
}